* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:red;
   
}

body{
    font-size: 1.5rem;
    line-height: 1.4;
    background-color: #26282a;
    color:lightgray;
    
    margin-top: 1.5em;
    margin: 1.5 0.5 em;
    padding: 15% 25%;

    text-align: left;
}

input, button{
    font: inherit;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


header {
    font-size: 2rem;
    font-family:monospace;
    font-weight: bold;
    background-color: none ;
    padding: 1%, 1%;
    border-radius: 0.5em;
    margin: 1em;
}


p{
    color:green;
    text-indent: 2em;
    text-align:justify;
}
/* -----HyperLinks----- */
/* a {
    text-decoration: none;
    cursor:cell;
    color: yellow;
}

a:visited{
    color:red;
}

a:hover{
    font-style: italic;
    color:white;
    border-style: outset;
    border-color: coral;
    
}

a:focus{
    color:yellow;
}

a:active{
    color:blueviolet;
}
 */


font button{
    color:blueviolet;
    font-style:italic;
}

img {
    border-radius: 1em;
}


/* -----LISTS----- */
ul {
    /* list-style-type:disc; */
    display:inline-block;
    
}

ol ul {
    padding-left:2em;
    text-align: left;
    line-height:1em;
    list-style: none;
    
    /* list-style-image: url("imgs/check2.png"); */

}

ol ul li::before{
   content:"";
   display: inline-block;
   background-image: url("imgs/checkmark.svg");
   background-size: contain;
   background-repeat: no-repeat;
   
    padding-left:2px;
    
    width: 16px;
    height: 16px;
    vertical-align:baseline;
}


nav {
    border: 2px solid white;
    border-radius: 1rem;
    text-align: center;
    
    max-width: 10rem ;
    background-color:chocolate;
    margin: 0 auto;
    padding: 0;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    display:block;
}

nav ul li {
    
    border-top: 1px solid black;
    padding: 0 ;
    margin: 0;
}

nav h3{
    background-color: black;
    border-radius: 1rem 1rem 0 0;
    padding: 0;
}

nav ul li a{
    display:flow-root;
    text-decoration:none;
    color:gold;
}
nav ul li:last-child a{
    border-radius: 0 0 1rem 1rem;
}

nav ul a:active,
nav ul a:focus,
nav ul a:hover{
    color: chocolate;
    background-color: goldenrod;
    
}